{% extends 'base.html' %}

{% block navbar %}
<div class="inner">
    <a class="navbar-brand pull-left">Beta
      <img class="pull-left" src="{{ url_for('static', filename='images/bootstrap-solid.svg')}}" width="30" height="30" alt="">
    </a>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="/">Home</a>
      {% if current_user.is_authenticated %}
      <a class="nav-link active" href="/dashboard">Dashboard</a>
      <a class="nav-link" href="/logout">Logout</a>
      {% else %}
      <a class="nav-link active" href="/user/add">Signup</a>
      <a class="nav-link" href="/login">Login</a>
      {% endif %}
    </nav>
  </div>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}

<h1>Dashboard! You have been logged in</h1>

{% endblock %}