{% extends 'base.html' %}

{% block content %}

<div class="container">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Beta Licensing Project</h1>
      <p class="lead">This is a project made from scratch for non production use that utilizes MySQL and Python. This simple project allows licensing administrators to register new licenses in the database</p>
      <p class="lead">
        <a href="/register" class="btn btn-lg btn-secondary">Register New License</a>
      </p>
    </main>
  </div>

{% endblock %}